* {
    box-sizing: border-box;
    margin: 0 auto;
    max-width:



}

#splash,
#om,
#undervisere,
#info,
#gallery,
{
    margin: 50px;
    padding: 50px;

}




.header-content .logo {
    width: 437px;
    height: 100px;
    margin-top: 100px;

}


.hvid {
    background-color: white;

}

.om3 {
    padding-bottom: 30px;

}

#splash h1 {

    font-size: 5em;
    font-family: 'Oswald', sans-serif;

}

#splash img {
    width: 100%;
    max-width: 500px;
}

#om img {
    width: 100%;
    max-width: 477px;
    max-height: 600px;
    margin-left: -80px;
}

@media screen and (max-width: 777px) {

#om img {

  margin-right: 30px;

}
}

#om {


    margin-left: 0 auto;
    margin-right: 0 auto;

}



#om p {
    margin-top: 50px;
    color: rgba(20, 30, 48, 0.85);
    font-size: 1.2em;
}

a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

#undvisere .btn {}


#info {
    background-color: rgba(121, 188, 226, 0.5)
}

.column p {
    margin-top:20px;
    font-size: 1.7rem;
    line-height: 2;
}

#blue-back{
    background-color: rgba(21, 123, 179, 0.5);
    padding-bottom: 40px;
    padding-top: 20px;
}


#info .column {
    padding:60px;
    margin-top: 50px;
    flex-basis: 500px;
    flex-shrink: 1;

}

.column-left {
    width:300px;

}

.gallery {
   background-color: rgba(21, 123, 179, 0.5)
}

.column-left h1,
.column-left p2{
    display: block;
}

.column-left h1 {
}



    body {
    line-height: 1.5;
    font-size: 1rem;

}

footer {
    width: 100wv;
    background-color: #141E30;


}

footer{
    padding: 20px;
    text-align: center;


}

footer .bottom {
    display: flex;

}

footer .top {

}

#ab-navn {
  display: none;

}

#ab-hover {
    text-align: center;
}

#ab-hover:hover #ab-navn {
  display: block;
}



.bottom .space {
    width: 20px;
}



#undervisere h1 {
    margin-top: 90px;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;

}

.top p {

    color: white;
}




#undervisere .column {
    margin-top: 50px;
}

#undervisere .top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
/*    margin-right: 30px;*/
/*   margin-left : 50px;*/
}

.top img {
    border-radius: 900px;
    width: 150px;
    height: 150px;
    padding: 20px;


}



.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.container {
    max-width: 960px;
    : 1rem;
    : 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #1e3c72;
    z-index: -1;
    opacity: 0.55;
}

.header-content {
    z-index: 2;
    justify-content: center;

}


.header-content h1 {
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

.btn {
    background: #34b3a0;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

nav {
    background-image: linear-gradient(#141E30, rgba(87, 87, 87, 0));
    top: 0;
    padding: 30px;
    margin-top: 50px;
    text-align: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

}

nav a {
    color: white;
    text-decoration: none;
    padding-right: 100px;


}

nav a:last-child {
    padding-right: 0px;
}


@media only screen and (max-width: 920px) {

    nav {
        padding-right: 50px;
    }

    nav a:last-child {
        padding-right: 0px;
    }
}

#info h2 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


.h1-center {
    text-align: center;
}



#om h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}


.h1-center-undervisere {
    text-align: center;
}


#om {
    margin-top: 60px;
}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-right: 80px;
    width: px;
     align-items: center;
}




#om .left {
    flex-basis: 800px;
    flex-grow: 1;
   margin-right: -70px;
}

#om .right {
    flex-basis: 300px;
    flex-grow: 1;
   margin-left: -70px;
}

#om p {
    /*    display: block;*/
}

.om2 {
  flex-direction: row-reverse;
}


.hidden-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    list-style: none;
    padding: 30px;
    margin: 0;
    width: 40%;
    /*  height: 30%;*/
    background-color: rgba(0, 43, 53, 0.7);
    top: 0;
    left: -105%;
    transition: .1s linear;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    padding-left: 30px;
    padding-right: 60px;
}

.hidden-menu a {
    text-decoration: none;
    text-transform: ;
    font-size: 1.5rem;
    color: #efefef;
    padding-left: 30px;
    padding-right: 60px;
    transition: .1s ease-out;

}

.hidden-menu a:hover {
    /*  background-color: #59585d;*/
    color: #cccccc;
    padding-left: 30px;
    padding-right: 60px;
    /*    background-size: 100%;*/
}

.hidden-menu a:active {
    background: none;
    padding-left: 30px;
    padding-right: 60px;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #000000;
    padding: 15px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: .1s ease-out;
    z-index: 3;
    width: 30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

}

.btn-menu span {
    display: block;
    height: 3px;
    background-color: #000000;
    margin: 7px 0 0;
    transition: all .1s linear .23s;
    position: relative;
    width: 100%;
}


.btn-menu span.first {
    margin-top: 0;
}

/*
 .hidden-menu-ticker:checked ~ .btn-menu {
  left: 160px;
}
*/
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

.column-right {
    height: 450px;
    flex-basis: 200px;
    flex-grow: 1:
}

.column-left {
    margin-top: 60px;
    flex-basis: 200px;
    flex-grow: 1;
}
.sectionwrapper {
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#info {
   padding: 20px;

}

.h1-center {
    text-align: center;
}

#info h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;

}


iframe {
    width: 100%;
}

.top {
    width: 100vw;
}

#info .bottom {
    text-align: center;
}

@media only screen and (max-width: 974px) {

    header nav {
        display: none;
    }

    * {
        box-sizing: content-box;
    }

}

@media only screen and (min-width: 341px) {

    .header-content {
        margin: 5px;

    }

}


}




@media only screen and (min-width: 974px) {

    .hidden-menu,
    .hidden-menu a,
    .hidden-menu a:hover,
    .hidden-menu-ticker,
    .btn-menu,
    .btn-menu span,
    .btn-menu span.first,
    .hidden-menu-ticker:checked ~ .hidden-menu,
    .hidden-menu-ticker:checked ~ .btn-menu span.first,
    .hidden-menu-ticker:checked ~ .btn-menu span.second,
    .hidden-menu-ticker:checked ~ .btn-menu span.third,

        {
        display: none;
    }

    @media only screen and (max-width: 768) {
        #om p {
            font-size: 1em;
        }
    }


    @media only screen and (max-width: 376px) {
        #undervisere h1 {
            font-size:  2rem;
        }
    }

    h1 {
        font-family: 'Oswald', sans-serif;

    }


}


#mask {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    z-index: 99;
    height: 500px;
    width: 900px;
    border: 5px solid #000;
}


#mask iframe {
    position: absolute;
    border-radius: 50%;
    top: 0; left: 0;
    z-index: 50;

}



@media only screen and (max-width: 768) {
    #om .left {

   margin-right: 0px;
}

#om2 .right {

   margin-left: 50px;
}
}


#om2 {
    margin-top: 60px;
}

#om2 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
   flex-direction: row-reverse;
    margin-left: 80px;
    margin-right: 80px;
    width: px;
     align-items: center;
}




#om2 .left {
    flex-basis: 800px;
    flex-grow: 1;
   margin-right: -70px;
}

#om2 .right {
    flex-basis: 300px;
    flex-grow: 1;
   margin-left: -70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#om img {
    width:  100%
}

.textbox-1 {
    line-height: ;
   flex-basis: 200px;
    flex-grow: 1;
}


.object-fit {
   flex-basis: 100px;
    flex-grow: 1;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-gallery {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-gallery img {
  margin-top: 8px;
  vertical-align: middle;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column-gallery {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-gallery {
    flex: 100%;
    max-width: 100%;
  }
}
    #gallery {
        margin-left: 50px;
    }


@media screen and (max-width: 600px) {
    #mask {
        display: none;
    }

}

@media screen and (max-width: 425px) {

    #om {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #om p {
        margin-left: -50px;
    }

    #om img {
        margin-top: 50px;
        margin-left: 50px;
    }
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.gallery-div {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 20px
}

.gallery-div img {
    width: 100%;
}
